.gradient-title {
  background: linear-gradient(
    90deg,
    rgba(251, 6, 6, 1) 0%,
    rgba(42, 108, 227, 1) 35%,
    rgba(10, 175, 65, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  font-family: "Fredoka One", cursive;
  text-align: center;
  font-size: 40px;
  min-height: 500px;
  margin-top: 1em;
}

#home {
  height: 7em;
}

.scale{
  padding-bottom: 25px;
}
.scale:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 300px;
}

.card-body {
  background: linear-gradient(
    0deg,
    #F0E68C 0%,
    rgba(255, 255, 255, 1) 94%
  );
}
.card-border-radius {
  border-radius: 25px !important;
}

.top-radius {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.bottom-radius {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}

.btn-primary {
  color: #fff;
  background-color: #55aee6;
  border-color: #55aee6;
}

.more-infos {
  text-align: center;
  margin-top: 10px;
}

.card-description {
  min-height: 260px;
}

.about_img img{
    width: 100%;
}

.divider{
    margin-top: 150px;
    margin-bottom: 150px;
}

.divider-grid{
  margin-top: 100px;
  margin-bottom: 100px;
}

#activities{
  background: rgb(255,255,235);
  padding-top: 7em;
  
}

#activities .title{
  text-align: center;
}

#activities .title p{
  padding-top: 20px;
}

@media screen and (max-width: 1199px) {
  .card-img-top {
    height: 200px;
  }

  .card-description {
    min-height: 150px;
  }

  .mobile-hidden {
    display: none;
  }
}

.footer_logo img {
  width: 62px;
  height: 62px;
}

.footer_contato {
  color: #7a838b;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.fa {
  margin: 10px 40px;
}

.circle-img{
  border-radius: 50%;
}

.activity-item{
  text-align: center;
}

.activity-item p{
  text-align: left;
}